.searchCourse{
    width: 220px;
    height: 240px;
    margin: 15px;
    display: inline-block;
    text-align: center;
}

.cardtemp{
    width: 220px;
    height: 125px;
}

.coursecardlink{
    color: rgba(0, 0, 0, 0.663);
}

.term{
    color:grey;
}
